@charset "UTF-8";
/* default start */
body {
    color: #0a0a0a;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Malgun Gothic", "Lucida Grande", Tahoma, Verdana, AppleGothic, UnDotum, sans-serif;
    background-color: #f7f3f1;
}
a:link, a:visited {
    color: #666;
    text-decoration: none;
}
a:active, a:hover {
    color: #000;
    text-decoration: none;
}
a img, input.type-image {
    border: 0 none;
}
input, select, textarea {
    color: #333;
}
input.type-text, textarea {
    border: 1px solid #ddd;
    background: #fff;
    padding: 1px;
}
select {
    font-size: 11px;
    font-family: Dotum, "돋움", sans-serif;
    padding: 5px 3px;
}
span.button, img.button, a.button {
    cursor: pointer;
    vertical-align: middle;
}
ul, li {
    margin: 0;
}
/* default end */

/* media query */
@media (min-width:1600px){
    div#mainWrap {
        width: 1280px;
    }
}
@media (max-width:1600px){
    div#mainWrap {
        width: 900px;
    }
}
@media (max-width:920px){
    div#mainWrap {
        width: auto;
    }
}
/* 헤더 */
div#header {
    width: 100%;
    height: 97px;
    margin-bottom: 15px;
    border-bottom: 3px solid #d20000;
    position: fixed;
    background-color: white;
}
div#headerMask {
    height: 100px;
}
div#header > .logo {
    height: 100px;
    width: 150px;
    line-height: 100px;
    display: inline-block;
    font-size: 18px;
    background-image: url(../img/palace.png);
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center;
}
/* 네비게이션 */
.nav {
    display: inline-block;
    float: right;
}
.nav ul{
    line-height: 100px;
}
.nav li {
    float: left;
    display: block;
    margin: 0 10px;
}
.nav li:hover {
    cursor: pointer;
    color: #545454;
}
/* 레이아웃 */
div#mainWrap {
    margin: 0px auto;
    padding: 0px 10px;
    padding-bottom: 10px;
    display: block;
}
.container {
    border: 1px solid #dedede;
    padding: 10px 20px;
    margin: 5px;
    overflow-x: auto;
    background-color: white;
}
/* 테이블 */
table#contents {
    width: 100%;
    border-collapse: collapse;
}
table#contents tr:first-child:hover{
    background-color: unset;
    cursor:default;
}
table#contents tr:hover{
    background-color: #f7f7f7;
    cursor:pointer;
}
table#contents td, table#contents th{
    border: 1px solid #dedede;
    padding: 8px 10px;
    color: #1b1b1b;
}
table#contents td:nth-child(1) {
    text-align: center;
    width: 30px;
}
table#contents td:nth-child(2) {
    width: 50%;
}

div.buttons {
    display: inline-block;
    padding: 5px 0;
}
input[type="button"].btn {
    border-radius: 4px;
    border-style: none;
    padding: 7px 12px;
    font-size: 12px;
    font-weight: bold;
    background-color: #d4d4d4;
    color: white;
}
.btn.red-color {
    background-color: #ff9797 !important;
}
.btn.blue-color {
    background-color: #97caff !important;
}


input[name="subject"] {
    font-size: 22px;
}

input[type="text"] {
    background-color: white;
    border-style: none;
    border: 1px solid #dedede;
    padding: 5px 10px;
    margin: 5px 0;
}

textarea {
    resize: none;
    width: 100%;
    height: 200px;
    font-size: 15px;
    font-family: sans-serif;
    margin: 5px 0;
}

ul.pageList {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
}

ul.pageList > li {
    float: left;
    margin: 0px 5px;
}

ul.pageList > li:hover {
    cursor: pointer;
}

.pagerWrap {
    text-align: center;
    margin-top: 10px;
}